[submodule "wp"]
	path = wp
	url = git://github.com/WordPress/WordPress.git
[submodule "content/themes/DRIVE2016"]
	path = content/themes/DRIVE2016
	url = https://github.com/JeremyEnglert/JointsWP-CSS.git
