[submodule "wp"]
	path = wp
	url = git://github.com/WordPress/WordPress.git
[submodule "content/themes/DRIVE-2016"]
	path = content/themes/DRIVE-2016
	url = https://github.com/uwMichelangelo/JointsWP-CSS.git
